.content-section {
    display: block;
    border-bottom: 1px solid #dde3e6;
    padding: 30px;
    overflow: hidden;
    background-color: #f5f7f8;
}

.implementation {
    background-color: #fff;
    overflow: visible;
}

.card:hover {
    cursor: pointer;
}