
<!-- <h2 class="wow fadeInUp">Advanced Double Navigation with fixed SideNav & fixed Navbar:</h2>
<br>
<h5 class="wow fadeInRight">1. Hidden side menu. Click "hamburger" icon in the top left corner to open it.</h5>
<h5 class="wow fadeInLeft">2. Fixed navbar. It will always stay visible on the top, even when you scroll down.</h5>
<div style="height: 1000px">
  <a class="btn btn-success waves-light" (click)="showSuccess()" mdbWavesEffect>Success message</a>
  <a class="btn btn-danger waves-light" (click)="showError()" mdbWavesEffect>Error message</a>
</div> -->

<div class="container-fluid">

  <section class="section team-section">
    <div class="row">

      <div class="col-md-8">
        <div class="row mb-1">
          <div class="col-md-8">
            <h4 class="h4-responsive mt-1">{{'profile'|translate}}</h4>
          </div>
          <div class="col-md-4">
            <div class="md-form">
              <input class="form-control" id="form5" placeholder="{{'transactionCode'|translate}}" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-1">

            <!-- Nav tabs -->
            <mdb-tabset buttonClass="classic-tabs {{cardColors.color}} {{cardColors.ext}}" [contentClass]="'card'" class="classic-tabs">

                <!--Panel 1: PROFILE-->
                <mdb-tab heading="<i class='fa fa-user fa-2x'></i><br>{{'profile'|translate}}">

                  <div class="row pt-4">
                    <div class="col-12">

                      <form [formGroup]="form">
                        <div class="row">

                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="firstname" mdbInputDirective type="text" id="firstname" name="firstname" class="form-control">
                              <label for="firstname">{{'firstname'|translate}}</label>
                              <span *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="lastname" mdbInputDirective type="text" id="lastname" name="lastname" class="form-control">
                              <label for="lastname">{{'lastname'|translate}}</label>
                              <span *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="address_first" mdbInputDirective type="text" id="address_first" name="address_first" class="form-control">
                              <label for="address_first">{{'line'|translate}} 1 ({{'address'|translate}})</label>
                              <span *ngIf="address_first.invalid && (address_first.dirty || address_first.touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>


                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="address_second" mdbInputDirective type="text" id="address_second" name="address_second" class="form-control">
                              <label for="address_second">{{'line'|translate}} 2</label>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="city" mdbInputDirective type="text" id="city" name="city" class="form-control">
                              <label for="city">{{'city'|translate}}</label>
                              <span *ngIf="city.invalid && (city.dirty || city.touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="postcode" mdbInputDirective type="text" id="postcode" name="postcode" class="form-control">
                              <label for="postcode">{{'postcode'|translate}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="country" mdbInputDirective type="text" id="country" name="country" class="form-control">
                              <label for="country">{{'country'|translate}}</label>
                              <span *ngIf="country.invalid && (country.dirty || country.touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="md-form">
                              <textarea class="md-textarea" formControlName="profile" mdbInputDirective id="profile" name="profile" type="text">Lorem</textarea>
                              <label for="profile">{{'profile'|translate}}</label>
                            </div>
                          </div>
                        </div>

                        <div class="text-center mt-4">
                          <button [disabled]="!form.valid" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbrippleradius type="button">{{'update'|translate}}</button>
                        </div>

                      </form>

                    </div>
                  </div>

                </mdb-tab>

                <!--Panel 2: CONTACT-->
                <mdb-tab heading="<i class='fa fa-envelope fa-2x'></i><br>{{'contact'|translate}}">
                    <div class="row pt-4">
                      <div class="col-12">

                        <form [formGroup]="form">
                          <div class="row">

                            <div class="col-md-6">
                              <div class="md-form">
                                <!-- <input mdbInputDirective type="text" id="email" class="form-control" placeholder="{{email}}" disabled>
                                <label for="email">{{'email'|translate}} ({{'primary'|translate}})</label> -->
                                <!-- <i class="fa fa-envelope prefix dark-grey-text"></i>
                                <span *ngIf="email.invalid && (email.dirty || email.touched)" class="inputVal text-danger">{{'invalid_email'|translate}}</span> -->
                                <input type="text" formControlName="email" id="email" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="email">{{'email'|translate}}</label>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="alt_email" id="alt_email" name="alt_email" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="alt_email">{{'email'|translate}} ({{'alternate'|translate}})</label>
                                <span *ngIf="alt_email.invalid && (alt_email.dirty || alt_email.touched)" class="inputVal text-danger">{{'invalid_email'|translate}}</span>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="phone" id="phone" name="phone" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="phone">{{'phone'|translate}} ({{'primary'|translate}})</label>
                                <span *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="inputVal text-danger">{{'required'|translate}} {{'numeric'|translate}}</span>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="alt_phone" id="alt_phone" name="alt_phone" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="alt_phone">{{'phone'|translate}} ({{'alternate'|translate}})</label>
                                <span *ngIf="alt_phone.invalid && (alt_phone.dirty || alt_phone.touched)" class="inputVal text-danger">{{'numeric'|translate}}</span>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <div class="md-form">
                                <input [mdbValidate]="false" formControlName="ism" mdbInputDirective type="text" id="ism" name="ism" class="form-control">
                                <label for="ism">{{'ism'|translate}} ({{'primary'|translate}})</label>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="md-form">
                                <input [mdbValidate]="false" formControlName="alt_ism" mdbInputDirective type="text" id="alt_ism" name="alt_ism" class="form-control">
                                <label for="alt_ism">{{'ism'|translate}} ({{'alternate'|translate}})</label>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="md-form">
                                <textarea class="md-textarea" formControlName="contact" mdbInputDirective id="contact" name="contact" type="text">Contact</textarea>
                                <label for="contact">{{'contact'|translate}}</label>
                              </div>
                            </div>
                          </div>

                          <div class="text-center mt-4">
                            <button [disabled]="!form.valid" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbrippleradius type="button">{{'update'|translate}}</button>
                          </div>

                        </form>

                      </div>
                    </div>
                </mdb-tab>


                <!--Panel 3: PASSWORD-->
                <mdb-tab heading="<i class='fa fa-key fa-2x'></i><br>{{'password'|translate}}">
                  <div class="row pt-4">
                    <div class="col-12">

                      <form [formGroup]="formPassword">
                        <div class="row">

                          <div class="col-md-6">
                            <div class="md-form">
                              <!-- <input [mdbValidate]="false" mdbInputDirective type="text" id="password" class="form-control">
                              <label for="password">{{'password'|translate}}</label> -->
                              <i class="fa fa-lock prefix dark-grey-text"></i>
                              <input type="password" formControlName="password" [(ngModel)]="model.password" id="password" name="password" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="new-password">
                              <label for="password">{{'password'|translate}}</label>
                              <span *ngIf="password.invalid && (password.dirty || password.touched)" class="inputVal text-danger">{{'invalid_min_char'|translate:"{value: 8}" }}</span>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="md-form">
                              <!-- <input [mdbValidate]="false" mdbInputDirective type="text" id="repeatPassword" class="form-control">
                              <label for="repeatPassword">{{'password'|translate}}</label> -->
                              <i class="fa fa-lock prefix dark-grey-text"></i>
                              <input type="password" formControlName="repeatPassword" [(ngModel)]="model.repeatPassword" id="repeatPassword" name="repeatPassword" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="new-password">
                              <label for="repeatPassword">{{'password'|translate}}</label>
                              <span *ngIf="repeatPassword.invalid && (repeatPassword.dirty || repeatPassword.touched)" class="inputVal text-danger">{{'invalid_repeat_password'|translate}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="text-center mt-4">
                          <button [disabled]="!formPassword.valid" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbrippleradius type="button">{{'update'|translate}}</button>
                        </div>

                      </form>

                    </div>
                  </div>
                </mdb-tab>
            </mdb-tabset>

          </div>
        </div>
      </div>

      <div class="col-md-4 mb-1">
        <div class="card profile-card">

          <div class="avatar z-depth-1-half mb-4">
            <img alt="First sample avatar image" class="rounded-circle" [src]="avatar">
            <!-- src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" -->
          </div>

          <div class="card-body pt-0 mt-0">
            <div class="text-center">
              <h3 class="mb-3 font-bold"><strong>{{name}}</strong></h3>
              <h6 class="font-bold blue-text mb-4">Web Designer</h6>
            </div>

            <ul class="striped list-unstyled">
              <li><strong>{{'email'|translate}}:</strong> {{email}}</li>

              <li><strong>{{'phone'|translate}}:</strong> +1 234 5678 90</li>

              <li><strong>{{'company'|translate}}:</strong> The Company, Inc</li>
            </ul>

            <!-- <div class="text-center">
              <a class="btn-floating btn-small btn-fb waves-light" mdbrippleradius="" type="button">
                <i class="fa fa-facebook"></i>
              </a>

              <a class="btn-floating btn-small btn-dribbble waves-light" mdbrippleradius="" type="button">
                <i class="fa fa-dribbble"></i>
              </a>

              <a class="btn-floating btn-small btn-tw waves-light" mdbrippleradius="" type="button">
                <i class="fa fa-twitter"></i>
              </a>
            </div> -->

          </div>

        </div>
      </div>

    </div>
  </section>

</div>

<div style="height: 300px"></div>
