<div class="container-fluid">

  <section class="section team-section">
    <div class="row">

      <div class="col-md-8">
        <div class="row mb-1">
          <div class="col-md-8">
            <h4 class="h4-responsive mt-1">{{'profile'|translate}}</h4>
          </div>
          <div class="col-md-4">
            <div class="md-form">
              <input class="form-control" id="form5" placeholder="{{'transactionCode'|translate}}" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mb-1">

            <!-- Nav tabs -->
            <mdb-tabset buttonClass="classic-tabs {{cardColors.color}} {{cardColors.ext}}" [contentClass]="'card'" class="classic-tabs">

                <!--Panel 1: PROFILE-->
                <mdb-tab heading="<i class='fa fa-user fa-2x'></i><br>{{'profile'|translate}}">

                  <div class="row pt-4">
                    <div class="col-12">

                      <form [formGroup]="form">
                        <div class="row">

                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="firstname" mdbInputDirective type="text" id="firstname" name="firstname" class="form-control">
                              <label for="firstname">{{'firstname'|translate}}</label>
                              <span *ngIf="form.get('firstname').invalid && (form.get('firstname').dirty || form.get('firstname').touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="lastname" mdbInputDirective type="text" id="lastname" name="lastname" class="form-control">
                              <label for="lastname">{{'lastname'|translate}}</label>
                              <span *ngIf="form.get('lastname').invalid && (form.get('lastname').dirty || form.get('lastname').touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="address_first" mdbInputDirective type="text" id="address_first" name="address_first" class="form-control">
                              <label for="address_first">{{'line'|translate}} 1 ({{'address'|translate}})</label>
                              <span *ngIf="form.get('address_first').invalid && (form.get('address_first').dirty || form.get('address_first').touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>


                          <div class="col-md-6">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="address_second" mdbInputDirective type="text" id="address_second" name="address_second" class="form-control">
                              <label for="address_second">{{'line'|translate}} 2</label>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-4">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="city" mdbInputDirective type="text" id="city" name="city" class="form-control">
                              <label for="city">{{'city'|translate}}</label>
                              <span *ngIf="form.get('city').invalid && (form.get('city').dirty || form.get('city').touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="postcode" mdbInputDirective type="text" id="postcode" name="postcode" class="form-control">
                              <label for="postcode">{{'postcode'|translate}}</label>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <div class="md-form">
                              <input [mdbValidate]="false" formControlName="country" mdbInputDirective type="text" id="country" name="country" class="form-control">
                              <label for="country">{{'country'|translate}}</label>
                              <span *ngIf="form.get('country').invalid && (form.get('country').dirty || form.get('country').touched)" class="inputVal text-danger">{{'required'|translate}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="md-form">
                              <textarea class="md-textarea" formControlName="profile" mdbInputDirective id="profile" name="profile" type="text">Lorem</textarea>
                              <label for="profile">{{'profile'|translate}}</label>
                            </div>
                          </div>
                        </div>

                        <div class="text-center mt-4">
                          <button [disabled]="!form.valid" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbrippleradius type="button">{{'update'|translate}}</button>
                        </div>

                      </form>

                    </div>
                  </div>

                </mdb-tab>

                <!--Panel 2: CONTACT-->
                <mdb-tab heading="<i class='fa fa-envelope fa-2x'></i><br>{{'contact'|translate}}">
                    <div class="row pt-4">
                      <div class="col-12">

                        <form [formGroup]="form">
                          <div class="row">

                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="email" id="email" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="email">{{'email'|translate}}</label>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="alt_email" id="alt_email" name="alt_email" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="alt_email">{{'email'|translate}} ({{'alternate'|translate}})</label>
                                <span *ngIf="form.get('alt_email').invalid && (form.get('alt_email').dirty || form.get('alt_email').touched)" class="inputVal text-danger">{{'invalid_email'|translate}}</span>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="phone" id="phone" name="phone" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="phone">{{'phone'|translate}} ({{'primary'|translate}})</label>
                                <span *ngIf="form.get('phone').invalid && (form.get('phone').dirty || form.get('phone').touched)" class="inputVal text-danger">{{'required'|translate}} {{'numeric'|translate}}</span>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="md-form">
                                <input type="text" formControlName="alt_phone" id="alt_phone" name="alt_phone" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="off">
                                <label for="alt_phone">{{'phone'|translate}} ({{'alternate'|translate}})</label>
                                <span *ngIf="form.get('alt_phone').invalid && (form.get('alt_phone').dirty || form.get('alt_phone').touched)" class="inputVal text-danger">{{'numeric'|translate}}</span>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-6">
                              <div class="md-form">
                                <input [mdbValidate]="false" formControlName="ism" mdbInputDirective type="text" id="ism" name="ism" class="form-control">
                                <label for="ism">{{'ism'|translate}} ({{'primary'|translate}})</label>
                              </div>
                            </div>

                            <div class="col-md-6">
                              <div class="md-form">
                                <input [mdbValidate]="false" formControlName="alt_ism" mdbInputDirective type="text" id="alt_ism" name="alt_ism" class="form-control">
                                <label for="alt_ism">{{'ism'|translate}} ({{'alternate'|translate}})</label>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-md-12">
                              <div class="md-form">
                                <textarea class="md-textarea" formControlName="contact" mdbInputDirective id="contact" name="contact" type="text">Contact</textarea>
                                <label for="contact">{{'contact'|translate}}</label>
                              </div>
                            </div>
                          </div>

                          <div class="text-center mt-4">
                            <button [disabled]="!form.valid" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbrippleradius type="button">{{'update'|translate}}</button>
                          </div>

                        </form>

                      </div>
                    </div>
                </mdb-tab>


                <!--Panel 3: PASSWORD-->
                <mdb-tab heading="<i class='fa fa-key fa-2x'></i><br>{{'password'|translate}}">
                  <div class="row pt-4">
                    <div class="col-12">

                      <form [formGroup]="formPassword">
                        <div class="row">

                          <div class="col-md-6">
                            <div class="md-form">
                              <i class="fa fa-lock prefix dark-grey-text"></i>
                              <input type="password" formControlName="password" id="password" name="password" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="new-password">
                              <label for="password">{{'password'|translate}}</label>
                              <span *ngIf="formPassword.get('password').invalid && (formPassword.get('password').dirty || formPassword.get('password').touched)" class="inputVal text-danger">{{'invalid_min_char'|translate:"{value: 8}" }}</span>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="md-form">
                              <i class="fa fa-lock prefix dark-grey-text"></i>
                              <input type="password" formControlName="repeatPassword" id="repeatPassword" name="repeatPassword" class="form-control" [mdbValidate]="false" mdbInputDirective autocomplete="new-password">
                              <label for="repeatPassword">{{'password'|translate}}</label>
                              <span *ngIf="formPassword.get('repeatPassword').invalid && (formPassword.get('repeatPassword').dirty || formPassword.get('repeatPassword').touched)" class="inputVal text-danger">{{'invalid_repeat_password'|translate}}</span>
                            </div>
                          </div>
                        </div>

                        <div class="text-center mt-4">
                          <button [disabled]="!formPassword.valid" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbrippleradius type="button">{{'update'|translate}}</button>
                        </div>

                      </form>

                    </div>
                  </div>
                </mdb-tab>
            </mdb-tabset>

          </div>
        </div>
      </div>

      <div class="col-md-4 mb-1">
        <div class="card profile-card">

          <div class="avatar z-depth-1-half mb-4 hover hover-scale-in">
            <img mdbTooltip="{{'profile'|translate}}" alt="Avatar" class="rounded-circle" [lazyLoad]="avatar" [defaultImage]="'http://via.placeholder.com/130x130'" (click)="formAvatar.show()" mdbWavesEffect>
          </div>

          <div class="card-body pt-0 mt-0">
            <div class="text-center">
              <h3 class="mb-3 font-bold"><strong>{{name}}</strong></h3>
              <h6 class="font-bold blue-text mb-4">Web Designer</h6>
            </div>

            <ul class="striped list-unstyled">
              <li><strong>{{'email'|translate}}:</strong> {{email}}</li>

              <li><strong>{{'phone'|translate}}:</strong> +1 234 5678 90</li>

              <li><strong>{{'company'|translate}}:</strong> The Company, Inc</li>
            </ul>

            <div class="text-center">
              <a class="btn-floating btn-small btn-fb waves-light" mdbrippleradius="" type="button">
                <i class="fa fa-facebook"></i>
              </a>

              <a class="btn-floating btn-small btn-dribbble waves-light" mdbrippleradius="" type="button">
                <i class="fa fa-dribbble"></i>
              </a>

              <a class="btn-floating btn-small btn-tw waves-light" mdbrippleradius="" type="button">
                <i class="fa fa-twitter"></i>
              </a>
            </div>


          </div>

        </div>
      </div>

    </div>
  </section>

</div>

<div mdbModal #formAvatar="mdb-modal" class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <img class="rounded-circle img-responsive" [lazyLoad]="croppedImage" [defaultImage]="'http://via.placeholder.com/130x130'"/>
      </div>

      <div class="modal-body text-center">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          [resizeToWidth]="128"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (loadImageFailed)="loadImageFailed()">
        </image-cropper>

        <form>
          <div class="file-field md-form">
            <div class="btn btn-primary btn-sm waves-light" mdbWavesEffect>
              <span>Choose file</span>
              <input type="file" mdbFileSelect (change)="fileChangeEvent($event)" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
              <!--   -->
            </div>
            <div class="file-path-wrapper">
              <input class="file-path" type="text" placeholder="Upload your file" [value]="showFiles()">
            </div>
          </div>
        </form>

        <div class="text-center">
            <button type="button" (click)="startUpload()" class="btn blue-gradient {{buttonStyle.shape}} waves-light" mdbWavesEffect>{{'save'|translate}}</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div style="height: 300px"></div>
