.img-square {
  height: 100%;
}

.navItem {
  display: inline-flex;     // one item issue
  align-items: center;      //vertical
  justify-content: center;  //horizontal
  margin-bottom: 30px;
}

.card-body {
  display: block;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.card-sm {
  max-height: 270px;
}

.card-md {
  max-height: 520px;
}

.card-lg {
  max-height: 760px;
}
